body {
background: beige;

}

.form {
background: bisque;
border-radius: 6px;
font-size: 50%;
color: black;
justify-content: auto;
text-align: center;
padding: 10px;
box-align: center;
box-shadow: 2px 2px 5px #313131;
font-size: 64%;
padding: 5px;
}
p {
text-align: center;
box-align: center;
color: dimGray;
}
h2 {
text-align: center;
}
img {
width: 100%;
border-radius: 10px;
background: black;
box-shadow: 2px 2px 5px #313131;
justify-content: center;
box-align: center;
}